{% extends "base.html" %}

    {% block content %}
    <section class="container highlights">

        <div class="blog-highlight">
            <img src="https://placehold.co/300x300" alt="Blog Image" class="blog-image">
            <div class="blog-content">
                <h2 class="blog-title"> NEMA17 Stepper Motor Basics</h2>
                <p class="text blog-text">This is a short description of the blog post. It provides a brief overview of the content to entice readers to click and read more.</p>
                <a href="link_to_blog_article.html" class="read-more-button"> Read More... </a>
            </div>
        </div>

        <div class="card">
            <img src="https://placehold.co/300x150" alt="Card Image" width="300" height="150">
            <a href="link_to_blog_article.html" class="card-link">

            <div class="card-content">
                <h2 class="card-title">Card Title</h2>
                <p class="text card-text">This is a description of the card. It provides a brief overview of the content or purpose of the card.</p>
<!--                 <a href="#" class="card-button">Learn More</a> -->
            </div>
            </a>
        </div>
    </section>
    {% endblock %}
    
