{% extends "base.html" %}

{% block content %}
<section class="container my-tutorials">

    <div class="tutorial-catagories">
        <p class="text">TEEHEE</p>

    </div>

    <div class="tutorial-contents">
        <div class="content-square">1</div>
        <div class="content-square">2</div>
        <div class="content-square">3</div>
        <div class="content-square">4</div>
        <div class="content-square">5</div>
        <div class="content-square">6</div>
        <div class="content-square">7</div>
        <div class="content-square">8</div>
        <div class="content-square">9</div>
    </div>

</section>
{% endblock %}